@model U2Actividad1.Models.ViewModels.EspeciesViewModel;
@{
    Layout = "Layout";
}
<h1>
    <img src="~/clases/@(Model.id).png" /> @(Model.Clase)
</h1>

<div class="listaEspecies2">
    @foreach(var animal in Model.animales)
    {
        <a href="~/Home/especie?id=@(animal.Nombre)">
            <img src="~/especies/@(animal.Id).jpg" title="@animal.Nombre" />
        </a>
    }
</div>

<script>

    var c = document.querySelector("main h1 img").cloneNode();
    document.querySelector("main h1").appendChild(c);
</script>


